// Media queries breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
//Variables

// Variables Footer
$_width_footer: auto;
$_height_footer: auto;
$_button_gradient_20: linear-gradient(270deg, rgba(77, 94, 246, 0.20) 0%, rgba(246, 77, 77, 0.20) 100%);
$_text_main:#1E1E1E;
$_footer_bottom:linear-gradient(270deg, #4D5EF6 0%, #F64D4D 100%);