@import "../base/index";
.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/7);
    padding: 2px 10px;
    img {
        width: 70px;
        height: 70px;
    }
}
  
