.footer__container {
    margin: 0 auto;
    width: $_width_footer;
    max-width: $xxl;
    min-width: $sm;
    height: $_height_footer;
    background-image: $_button_gradient_20;
    padding: 60px 150px 30px 150px;
    .footer_title {
        color: rgba(30, 30, 30, 1);
        font-size: 16px;
        letter-spacing: 0.32px;
        font-weight: 653;
    }
    .information__service_icons {
        gap: 26px;
        .nav-link:hover{
            color: rgba(30, 30, 30, .5)!important;
        }
        img{
            border-radius: .5rem;
            transition: all .2s ease-in-out;
            &:hover{
                transform: scale(1.1);
                box-shadow: 10px 10px 20px rgba(transparent, 0.2);
            }
        }
    }
    .nav-link {
        color: rgba(30, 30, 30, 1);
        font-weight: 539;
    }

    .footer__bottom {
        color: $_text_main;
        font-size: 14px;
        font-weight: 539;
        margin-top: 40px;
        padding-top: 38px;
        position: relative;
        .float-end{
            margin-right: 170px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $_button_gradient;
        }
    }
}


@media  screen and (max-width:$sm) {
    .footer__container {
        padding: 60px 0 39px 0;
        .footer__bottom{
            padding-top: 20px;
        }
        .information__service_icons{
            width: fit-content;
            margin: auto;
        }
    }
}
@media  screen and (max-width:$md) {
    .footer__container{
        padding: 30px 0 20px 0;
    }
}
@media  screen and (max-width:$lg) {
    .footer__container{
        padding: 60px 0 60px 0;

    }
}
@media  screen and (max-width:$xl) {
    .footer__container{
        padding: 60px 20px 60px 20px;
        
    }
}